nav { 
  display: flex;   
  justify-content: space-between;
  align-items: center;

  line-height: 0;
}

nav ul {
align-items:center;
list-style: none;
display:flex; 
gap: 20px;

padding-block: 8px;
}

nav ul li:last-child img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}
